*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

:root{
    --white:#FFF;
    --buttonGreen:#77DD77;
    --green:#008000;
    --red:#c33e3a;
}

body {
    background-color: #895825;
    min-width: 320px;
    display: block;
    overflow: hidden;
}

.gameSection{
    background-image: url(../image/rocks.png);
    background-color: #895825;
    background-repeat: repeat;
    background-position: top;
    background-size: 256px;
}

.joystickSection{
    background-image: url(../image/rocks.png);
    background-color: #895825;
    background-repeat: repeat;
    background-position: bottom;
    background-size: 256px;
    padding-bottom: 171px;
}

header{
    width: 100%;
    height: 200px;
    background-image: url(../image/grass.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: lightskyblue;
}

.flowers{
    background-image: url(../image/flower.png);
    background-repeat: space;
    background-position: bottom;
    height: 95px;
    background-size: 60px;
}

.containerClass{
    width: 300px;
    height: 300px;
    border: 2px solid #895825;
    position: relative;
    overflow: hidden;
    background-color: var(--white);
    margin: auto;
    border-radius: 7px;
}

.bodyElement{
    width:10px;
    height:10px;
    background-color: var(--red);
    position: absolute;
    border: 1px solid var(--white);
    z-index: 1;
}

.food{
    width:10px;
    height:10px;
    background-color: var(--green);
    position: absolute;
    z-index: 0;
}

.tablo{
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    font-size: 18px;
}

.point, .level{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.joystick{
    width: 70%;
    margin: auto;
    padding: 20px;
}

.joystick button{
    margin-top:5px;
    border:none;
    color:var(--white);
    border: 2px solid transparent;
    transition: 0.3s;
    cursor:pointer;
}

.up, .down{
    display: grid;
}

.up button, .down button{
    padding: 7px 0;
    background-color:var(--buttonGreen);
}

.up button{
    border-radius: 7px 7px 0 0;
}

.down button{
    border-radius: 0 0 7px 7px;
}

.leftRight{
    display: flex;
    justify-content: space-between;
   
}

.leftRight button{
    padding: 45px 10px;
    width: 50px;
    background-color:var(--red);
    border-radius: 7px 0;

    
}

.leftRight button:hover, .leftRight button.active{
    background-color:var(--white);
    color:var(--red);
    border: 2px solid var(--red);
    transition: 0.3s;
    
}

.up button:hover, .down button:hover, .up button.active, .down button.active{
    background-color:var(--white);
    color:var(--buttonGreen);
    border: 2px solid var(--buttonGreen);
    transition: 0.3s;
}

.stopPlay{

    padding: 0!important;
    margin: 30px 0!important;
    border-radius: 15px!important;
}

.gameMenu{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    padding: 100px;
    z-index: 5;
}

.logo{
    width: 50%;
    height: 20%;
    background-image: url(../image/snakeLogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: auto;
}

.record{
    padding: 15px;
    text-align: center;
    color: #FFF;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin: auto;
}

.yourScore{
    padding: 15px;
    text-align: center;
    color: #FFF;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    width: 25%;
    margin: auto;
}

.checkWalls{
    padding: 15px;
    text-align: center;
    color: #FFF;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    width: 10%;
    margin: auto;
}

#walls{
    margin: 7px;
    height: 20px;
    width: 20px;
}

.buttonWrap{
    display: flex;
    justify-content: center;
    padding: 15px;
}

#startGame{
    padding: 10px;
    color: #FFF;
    background-color: var(--green);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    border:1px solid transparent;
    transition: 0.3s;
}

#startGame:hover{
    background-color: #FFF;
    color: var(--green);
    border:1px solid var(--green);
    transition: 0.3s;
}

#restartGame{
    padding: 10px;
    color: #FFF;
    background-color: var(--red);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    border:1px solid transparent;
    transition: 0.3s;
}

#restartGame:hover{
    background-color: #FFF;
    color: var(--red);
    border:1px solid var(--red);
    transition: 0.3s;
}

.hide {
    display:none;
}

.gameOver{
    padding: 15px;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
}